@import url('https://fonts.googleapis.com/css2?family=https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@400;700;800&display=swap+PLUS+Rounded+1c&display=swap');


:root {
  --main-font-family: "M PLUS Rounded 1c", sans-serif;
  --extra-bold-weight: 800;
  --bold-weight: 700;
  --regular-weight: 400;
  --main-color: rgba(69, 84, 172, 1);
  --secondary-color: #E1E4F3;
  --secondary-color-transparent: rgba(69, 84, 172, 0.5);
  --x-small-font-size: 5px;
  --small-font-size: 10px;
  --regular-font-size: 12px;
  --large-font-size: 18px;
  --xtra-large-font-size: 24px;
}

#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: unset;
}

html {
  font-size: 12px;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  color: var(--main-color);
  font-family: var(--main-font-family);
  background: url('./images/blue_gradient_background.png') no-repeat center center fixed;
  background-size: cover;
}

h1 {
  font-size: 2rem;
  padding: unset;
  margin: unset;
}

h2 {
  font-size: 1.8rem;
  padding: unset;
  margin: unset;
}

h3 {
  font-size: 1.5rem;
  padding: unset;
  margin: unset;
}

h4 {
  font-size: 1rem;
  padding: 0.5rem;
  margin: unset;
}

ul {
  margin: unset;
  padding: unset;
}

li {
  list-style: none;
  color: var(--secondary-color);
}

p {
  color: var(--secondary-color);
  margin: unset;
  padding: 0.5rem;
}

input {
  border: none;
  background: none;
  padding: unset;
}

input::placeholder {
  color: var(--secondary-color-transparent);
  font-weight: var(--extra-bold-weight);
}

textarea:focus, input:focus{
  outline: none;
}

i {
  color: var(--secondary-color);
}

.MuiButtonBase-root {
  border-radius: unset;
}

.MuiButtonBase-root:hover {
  border-radius: unset;
  border-radius: 5px;
}

  